[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "sds"]
	path = sds
	url = https://github.com/antirez/sds.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/Cyan4973/lz4.git
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/Algy/hiredis
[submodule "libctemplate"]
	path = libctemplate
	url = https://github.com/ac000/libctemplate.git
[submodule "mariadb-connector-c"]
	path = mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
[submodule "parson"]
	path = parson
	url = https://github.com/kgabis/parson
